@using Application.Queries.CountryList
@model CountryDetailsDto

@{
    ViewData["Title"] = Model.Name;
}

<div class="container mt-1">
    <div class="row">
        <div class="col h3">
            <a href="." class="nav-link d-inline">
                <span class="material-symbols-outlined fs-2" href=".">arrow_back</span>
                Back
            </a>
        </div>
    </div>
</div>
