@using Application.Queries.CountryQueries
@model IList<CountryListDto>

@{
    ViewData["Title"] = "Countries";
}

<div class="row">
    <a asp-action="Create" class="btn btn-primary">
        <span class="material-symbols-outlined">contract_edit</span>
        Create new country
    </a>
</div>

@foreach (var c in Model)
{
    <partial name="_CountryInfo" model="c" />
}