@using Data.Models
@model IList<NaturalResource>
@{
    ViewData["Title"] = "Natural Resources";
}

<div class="container mt-1">
    @foreach (var resource in Model)
    {
        <div class="row">
            <p>
                <span class="badge text-bg-light border fw-medium fs-6">
                    <span class="badge custom-badge">@resource.Name</span> - @resource.Description
                </span>
            </p>
        </div>
    }
</div>
