@using Application.Commands.CharacterCommands
@using Application.Queries.CountryQueries
@using MediatR
@model CharacterCreateDto
@inject IMediator _mediator
@{
    int id = (int)(ViewData["id"] ?? -1);
}

<h2>Create Character</h2>
<form asp-action="Edit" method="post">
    <input type="hidden" name="id" value="@id" />
    <div class="row border rounded p-3 m-2">
        <div class="mb-3">
            <label asp-for="Name" class="form-label">Character Name:</label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Description" class="form-label">Description:</label>
            <textarea asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="LongDescription" class="form-label">Long description:</label>
            <textarea asp-for="LongDescription" class="form-control"></textarea>
            <span asp-validation-for="LongDescription" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="BirthDate" class="form-label">Birth date:</label>
            <input type="date" asp-for="BirthDate" class="form-control" />
            <span asp-validation-for="BirthDate" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="PortraitUrl" class="form-label">Portrait url:</label>
            <input type="url" asp-for="PortraitUrl" class="form-control" />
            <span asp-validation-for="PortraitUrl" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="OriginCountryName" class="form-label">Country:</label>
            <select asp-for="OriginCountryName" class="form-select">
                @foreach (var name in await _mediator.Send(new GetAllCountryNamesQuery()))
                {
                    <option value="@name">@name</option>
                }
            </select>
            <span asp-validation-for="OriginCountryName" class="text-danger"></span>
        </div>
    </div>

    <div class="row p-3 m-2">
        <div class="col">
            <button type="submit" class="btn btn-primary my-3">Save Changes</button>
        </div>
    </div>
</form>

