html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.material-symbols-outlined {
    vertical-align: -25%;
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24
}

.custom-tooltip {
    --bs-tooltip-bg: darkviolet;
    --bs-tooltip-opacity: 100;
    --bs-tooltip-zindex: 10000;
}

.text-violet {
    color: darkviolet;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
